html {
  font-size: 18px;
}

body {
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #F2F2F2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.4em;
}

h1 { font-size: 2em;}
h2 { font-size: 1.66em; }
h3 { font-size: 1.33em; }
h4, h5, h6 { font-size: 1.2em; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

header,
footer {
  margin: 2.5rem 0;
  text-align: center;
}

a {
  color: #337ab7;
  text-decoration: none;
}

/* Tables */

td, th {
  padding: 3px 10px;
}

/* Global */

.container {
  width: 90%;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.header-divider {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.site-title {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.site-tagline {
  margin: 0.5rem 0 0.75rem 0;
  font-size: 0.8rem;
}

.navbar {
  font-size: 1rem;
  min-height: 0;
}

/* Articles */

.article {
  font-size: 1rem;
  margin-bottom: 3em;
  line-height: 1.66em;
}

.article-header {
  margin-bottom: 0.5em;
}

.article-title {
  margin-bottom: 0.15em;
  margin-top: 0;
  font-size: 1.75em;
}

.article-meta {
  display: inline-block;
  font-size: 1em;
  color: #888;
}

.article-text p { margin-bottom: 0.75em; }
.article-text p a { text-decoration: underline; }

/* Pagination */

.pagination-navbar {
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 1.2em;
  min-height: 1.2em;
}

.pagination-nav-prev,
.pagination-nav-next {
  display: inline;
}

.pagination-nav-next {
  float: right;
}

/* Footer */

footer {
  font-size: 1rem;
}

.footer-links {
  margin-bottom: 0.66em;
}

.copyright { font-size: 0.75em; }

.hr {
  height: 1px;
  margin: 2rem 0;
  background: #E1E1E1;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#E1E1E1), to(white));
  background: -webkit-linear-gradient(left, white, #E1E1E1, white);
  background: linear-gradient(to right, white, #E1E1E1, white);
}

/* Lists */

.list-article { font-size: 1rem; }

.list-title {
  font-size: 2.5em;
  margin-bottom: 2rem;
}

.list-article-elem {
  font-size: 1em;
}