{{ partial "head.html" . }}

<main id="main" class="main">
  <div class="content">
    {{ .Content }}
  </div>
  <ul class="article-list">
    {{ range .Paginator.Pages }}
      <li class="article-list__item">
        <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">
          {{ .Date.Format "02 Jan 2006" }}
        </time>
        <span class="seperator">·</span>
        <span class="anticle-list__title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </span>
      </li>
    {{ end }}
  </ul>
  {{ if gt .Paginator.TotalPages 1 }}
  <nav class="paginator-nav">
    <div class="paginator-nav__btn paginator-nav__prev">
      {{if .HasPrev}}<a href="{{ .Prev.Permalink }}"><< Previous Page</a>{{end}}
    </div>
    <div class="paginator-nav__btn paginator-nav__next">
      {{if .HasNext}}<a href="{{ .Next.Permalink }}">Next Page >></a>{{end}}
    </div>
    <span class="paginator-nav__count">Page {{ .PageNumber }} of {{ .TotalPages }}</span>
  </nav>
  {{ end }}
</main>

{{ partial "footer.html" . }}
