<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}</title>
  <link rel='canonical' href='{{ .Permalink }}'>
  <link href="{{ .Site.Params.rssurl }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link rel='icon' href='{{ ( or .Site.Params.assets.favicon "favicon.ico" ) | relURL }}'>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="/res/custom.css">
</head>

<body>
  <a href="#main" id="reader-text">Skip to content</a>
  <header class="header">
    <h1 class="header__title">
      <a class="header__link" href="/">
        {{ .Site.Title }}
      </a>
    </h1>
  </header>
  <nav class="navbar">
    <ul class="navbar__menu">
      {{ range .Site.Menus.main }}
        <li class="navbar__item">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </nav>
