<header role="banner">
	<h1 class="site-title">{{ .Site.Title }}</h1>
	<div class="site-tagline">{{ .Site.Params.tagline }}</div>
	<div class="navbar">
		<p>
			<a href="/" target="_self">Home</a>
			<span class="header-divider">&middot;</span>
			<a href="/blog/" target="_self">Blog</a>
			<span class="header-divider">&middot;</span>
			<a href="/about/" target="_self">About</a>
			<span class="header-divider">&middot;</span>
			<a href="/contact/" target="_self">Contact</a>
		</p>
	</div>
</header>